@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	font-family: 'Roboto', sans-serif !important;
}

img {
	display: block;
}
.container {
	margin-bottom: 50px;
}


/*header*/

header {
	margin: 0 auto;
	padding-top: 15px;
}

#logo {
	margin: 0 auto;
	width: 175px;
}

#logo img {
	width: 100%;
}

#button {
	height: 40px;
    width: 40px;
}

.shopping {
	background: #ffffff;
	border: 0;
	float: right;
	height: 50px;
	width: 50px;
	margin-top: -60px;
}

.menu {
	border: none;
	float: left;
	background: #fff;
	display: none;
}

nav {
	font-size: 16px;
	margin: 40px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

nav ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline-block;
	padding: 14px 40px;
}

nav ul .desplegable {
	position: relative;
}

nav ul .desplegable ul{
	display: none;	
}

nav ul .desplegable.hover .desplegable2 {
	background-color: #fff;
	display: inline;
	left: -14px;
	position: absolute;
	top: 45px;
	z-index: 1;
}

nav ul .desplegable:hover .desplegable2 li {
	display: block;
}

nav ul li a:hover {
	color: #E02372;
}

nav ul li a {
 	color: #432918;
 	position: relative;
 	text-decoration: none;
}

nav ul li a:hover:before {
	display: block;
}

nav ul li a:before {
	background: #E02372;
	bottom: -6px;
	content: "";
	display: none;
	height: 2px;
	left: 50%;
	margin-left: -10px;
	position: absolute;
	width: 20px;
}

.nav2{
	display: none;
}


/*Home*/

.banner {
	margin-bottom: 50px;
}

.category {
	margin-bottom: 50px;
}

.category-title {
    color: #432918;
    font-size: 26px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.product {
    border: 1px solid #F6E4EB;
	border-radius: 5px;
	margin-bottom: 30px;
}

.product-image {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.product-title {
    text-align: left;
    color: #E02372;
	font-size: 18px;
    margin-top: 10px;
    padding-left: 12px;
}

.product-price {
    color: #E02372;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    padding-left: 12px;
}


/*Footer OK*/

footer {
    background: #F6E4EB;
    clear: both;
    font-size: 12px;
	padding: 15px 0 20px;
    text-align: center;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

.contact li {
	padding: 5px;
}

.networks li {
	display: inline-block;
}

.networks li img {
	width: 35px;
	margin: 0 10px;
}

footer a {
	color: #432918;
	text-decoration:none;
}
 .networks {
    border-bottom: 1px solid #D5C7BF;
    border-top: 1px solid #D5C7BF;
	padding: 15px 0 12px;
 }

 .copy {
    margin-top: 20px;
 }

 footer .contact li{
	 width: 100%;
 }

 footer .networks{
	 width: 100%;
	 margin: 0 auto;
 }